<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>block</h1>
	
	<div th:each="user : ${users}">
		사용자 이름 : [[${user.userName}]]<br>
		사용자 나이 : [[${user.age}]]<br><br>
	</div>
	
	<div th:each="user : ${users}">
		요약 : [[${user.userName}]] / [[${user.age}]]
	</div>
	
	<hr>
	<!-- 태그마다 속성을 추가해야하는데 block을 이용하여 전체를 묶고 반복을 돌리면 한 번에 처리할 수 있다. -->
	
	<th:block th:each="user : ${users}">
	<div>
		사용자 이름 : [[${user.userName}]]<br>
		사용자 나이 : [[${user.age}]]
	</div>
	
	<div>
		요약 : [[${user.userName}]] / [[${user.age}]]<br><br>
	</div>
	</th:block>
	
</body>
</html>