<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 패키지명을 적는 것이 관례 -->
<mapper namespace="com.mysite.memberMapper"> 
	<!-- 
	회원 등록 
	<insert id="registerMember" parameterType="RegisterRequest">
		INSERT INTO member(id, name, email, password, registerdate)
		VALUES (seq_id.nextVal, #{name}, #{email}, #{password}, sysdate)
	</insert>
	
	아이디/비번 검증 
	<select id="selectWithPass" parameterType="RegisterRequest" resultType="Member">
		SELECT * FROM member WHERE email = #{email} AND password = #{password}
	</select>
	-->
	
	<select id="selectAll" resultType="Member">
		SELECT * FROM boot_mem
	</select>
	
	<insert id="insertData" parameterType="Member" >
		INSERT INTO boot_mem(num, name, addr)
		VALUES (#{num}, #{name}, #{addr})
	</insert>
	
	<delete id="deleteData" parameterType="int">
	    DELETE FROM boot_mem WHERE num = #{num}
	</delete>
	
	<update id="updateData" parameterType="int">
	    UPDATE boot_mem
	    SET name = #{name}, addr = #{addr}
	    WHERE num = #{num}
	</update>
</mapper>