<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	ul > li {
		display: inline-block;
		border : 0px solid;
		padding : 10px
	}
	ul {margin-left: -50px}
</style>
</head>
<body>
	<h1>Member List</h1>
	<div>
		<p>
			현재 <span style="font-weight: bold" th:text="${#lists.size(members)}">10</span>명의 회원정보가 등록되었습니다.
		</p>
		
		<form th:action="@{/jpa/memberList}" style="width:600px; padding:10px; display:flex; justify-content:flex-end">
			<select name="searchCate">
				<option value="name">이름</option>
				<option value="id">아이디</option>
				<option value="phone">전화번호</option>
			</select>
			<input type="text" name="searchKeyword">
			<button type="submit">Search</button>
		</form>
		
		<table cellpadding=10 border=1 width="800">
			<thead>
				<tr>
					<th width="50">#</th>
					<th>Name</th>
					<th>ID</th>
					<th>Age</th>
					<th>Phone</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member : ${members}">
					<td th:text="${member.num}">1</th>
					<td>
						<a href="#" th:href="@{/jpa/memberDetail(num=${member.num})}" 
							th:text="${member.name}">홍길동</a>
					</th>
					<td th:text="${member.id}">mr.hong</th>
					<td th:text=${member.age}></td>
					<td th:text=${member.phone}></td>
					<td><a href="#" th:href="@{/jpa/memberWrite(num=${member.num})}">수정</a></td>
					<!-- td><a href="#" th:href="@{/jpa/memberDelete(num=${menber.num})}">삭제</a></td -->
					<td><a href="#none" th:onClick="btnDel([[${member.num}]])">삭제</a></td>
				</tr>
			</tbody>
		</table>
		
		<p>
			총 레코드 갯수 : <span th:text="${members.totalElements}">4</span> &nbsp;&nbsp;&nbsp;
			현재 페이지 : <span th:text=${members.number+1}>1</span> /
			총 페이지 : <span th:text="${members.totalPages}">5</span>
		</p>
		<ul>
			<li>
				<th:block th:if="${members.number+1 == 1}">
					Previous
				</th:block>
				<th:block th:unless="${members.number+1 == 1}">
					<a href="#" th:href="@{/jpa/memberList(page=${members.number}-1, size=#{paging.size})}">Previous</a>
				</th:block>
			</li>
			<li>/</li>
			<li>
				<th:block th:if="${members.totalPages == members.number + 1}">
					Next
				</th:block>
				<th:block th:unless="${members.totalPages == members.number + 1}">
					<a href="#" th:href="@{/jpa/memberList(page=${members.number}+1, size=#{paging.size})}">Next</a>
				</th:block>
			</li>
		</ul>
	</div>
</body>
</html>
<script>
	function btnDel(num){
		if(confirm(num + "번 회원을 정말 삭제하시겠습니까?") == true){
			location.href="/jpa/memberDelete?num=" + num;
		}
		else{
			return;
		}
	}
</script>









